@import "tailwindcss";

:root {
  --color-1: rgb(255, 111, 0);
  --color-2: rgb(255, 179, 0);
  --color-3: #FB8C00;
  --color-4: rgb(230, 81, 0);
  --font-color: white;
  --alt-font-color: #FFE0B2;
  --body-font-size: 1rem;
  --med-font-size: 1.5rem;
  --title-font-size: 5.5rem;
  --text-spacing-small: 0.1vw;
  --text-spacing-med: 0.3vw;
  --line-spacing: 120%;
  --body-font: 'Inter', sans-serif;
  --title-font: 'Syne', sans-serif;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: black;
  font-family: var(--body-font);
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--alt-font-color);
}

h1,
h2 {
  font-family: var(--title-font);
  font-size: 5rem;
}

p {
  letter-spacing: var(--text-spacing-small);
  line-height: var(--line-spacing);
}

.liquidGlass-wrapper {
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: -70;
  backdrop-filter: blur(4px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
  border-radius: 26px;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgb(230, 81, 0, 0.5);
  border-radius: 26px;
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 3;
  border-radius: 26px;
  overflow: hidden;
  box-shadow: inset 2px 2px 1px 0 rgba(255, 179, 0, 0.5),
    inset -1px -1px 1px 1px rgba(230, 81, 0, 0.5);
  border-radius: 26px;
}

.liquidGlass-text {
  padding: 0.5rem 0rem;
  z-index: 4;
  border-radius: 26px;
}

.navbar {
  display: flex;
  justify-self: center;
  justify-content: center;
  margin: 2em;
  z-index: 8;
  position: fixed;
  border-radius: 26px;
  isolation: isolate;
}


.navbar-item {
  color: var(--alt-font-color);
  padding: 1rem;
  font-size: var(--body-font-size);
  font-weight: 500;
  letter-spacing: var(--text-spacing-small);
  transition: color 0.3s ease-in-out;
}

.navbar-item:hover {
  color: var(--color-3);
}

.subtitle {
  color: var(--alt-font-color);
  font-size: x-large;
  letter-spacing: var(--text-spacing-med);
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, var(--color-2), var(--color-3)) 1;
  line-height: 0.1em;
}

.subtitle span {
  background-color: black;
  padding-right: 3rem;
}

.title-text {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: 800;
  line-height: var(--line-spacing);
  letter-spacing: var(--text-spacing-med);
}

.title-alt-1 {
  color: var(--color-2);
}

.title-alt-2 {
  color: var(--color-3);
}

.scroll {
  font: var(--body-font);
  font-size: var(--med-font-size);
  color: var(--alt-font-color);
  font-weight: 700;
  letter-spacing: var(--text-spacing-small);
}

.about {
  background: linear-gradient(45deg, var(--color-2), var(--color-1), var(--color-4), var(--color-3));
  background-size: 300% 300%;
  background-color: transparent;
  z-index: 1;
  animation: gradient 30s ease infinite;
  border-top-left-radius: 170% 60%;
  border-top-right-radius: 170% 60%;
  padding: 35vh 5vw 20vh 5vw;
}

.about h2 {
  font-weight: bold;
  letter-spacing: var(--text-spacing-med);
  font-size: var(--title-font-size);
  text-shadow: 1px 1px 3px var(--alt-font-color);
}

.about-text {
  font-weight: 400;
  width: 80%;
  letter-spacing: var(--text-spacing-small);
}

.about-facts-container {
  position: relative;
}

.about-facts-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px; /* depth of semicircle */
  z-index: 3;
  pointer-events: none;
}

.liquidGlass-wrapper-about-facts {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 0 0 26px 26px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2), 0 0 20px rgba(0,0,0,0.1);
}


.liquidGlass-tint-about {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  inset: 0;
  background: rgb(230, 81, 0, 0.5);
  border-radius: 0 0 26px 26px;
}

.liquidGlass-effect-about {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
  border-radius: 0 0 26px 26px;
}

.liquidGlass-shine-about {
  position: absolute;
  inset: 0;
  z-index: 3;
  border-radius: 0 0 26px 26px;
  overflow: hidden;
  box-shadow: inset 2px 2px 1px 0 rgba(255, 111, 0, 0.5),
    inset -1px -1px 1px 1px rgba(230, 81, 0, 0.5);
}

.liquidGlass-text {
  z-index: 4;
  position: relative;
}